<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Angular Project</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body ng-controller='mainController'>
    <!--as vm-->
    <form name="myForm" novalidate>
        <label>Prénom : </label>
        <input ng-model="addObjet.name" name="prenom" type="text" ng-maxlength="20" />

        <label>Nom : </label>
        <input ng-model="addObjet.last" name="nom" type="text" ng-maxlength="30" />

        <label>E-mail : </label>
        <input ng-model="addObjet.mail" name="email" type="email" required />

        <button ng-click="add()">Valider</button>
    </form>

    <table>
        <tr>
            <th>PRENOM</th>
            <th>NOM</th>
            <th>EMAIL</th>
        </tr>

        <tr ng-repeat="user in objets track by $index">
            <td>{{user.name}}</td>

            <td>{{user.last}}</td>

            <td>{{user.mail}}</td>
        </tr>

    </table>

    <script type="text/javascript" src="js/controllers/mainController.js"></script>
</body>

</html>